{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col text-right">
            <p><strong>Date du jour : {{ "now"|date("d-m-Y") }}</strong></p>
            <p><strong>Participant : </strong> <span id="organisateur_pseudo">{{ app.user.pseudo }}</span></p>
        </div>

    </div>
    <h2> Filtrer les sorties </h2>
    <div >
        {{ form_start(filtreSortieType) }}
        {{ form_row(filtreSortieType.campus) }}
        {{ form_row(filtreSortieType.nom) }}
        {{ form_row(filtreSortieType.datedebut) }}
        {{ form_row(filtreSortieType.datefin) }}
    </div>
    <div>
        {{ form_row(filtreSortieType.organisateur) }}
        {{ form_row(filtreSortieType.inscrit) }}
        {{ form_row(filtreSortieType.pasInscrit) }}
        {{ form_row(filtreSortieType.sortieFermees) }}
        <button type="submit"> Rechercher</button>
        {{ form_end(filtreSortieType) }}
    </div>
    <br>
    <div>
        <table>
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>inscrits/place</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut|date('Y-m-d h:i') }}</td>
                <td>{{ sortie.dateLimiteInscription|date('Y-m-d') }}</td>
                <td>{{ sortie.participants|length }}/{{ sortie.nbInscriptionsMax }}</td>
                <td> {{ sortie.etat.libelle }}</td>
                <td>
                    {% if app.user in sortie.participants %}
                        <p> X </p>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('profildetail',{'idParticipant': sortie.organisateur.idParticipant}) }}">{{ sortie.organisateur.pseudo }}</a>
                </td>
                <td>
                    {% if app.user.idParticipant == sortie.organisateur.idParticipant and sortie.etat.libelle != "Fermé" %}
                        <a href="{{ path('sortie_createsortie',{'idSortie':sortie.idSortie}) }}"> Publier </a>
                    {% endif %}
                    {% if app.user.idParticipant == sortie.organisateur.idParticipant and sortie.etat.libelle == "En création" %}
                        <a href="{{ path('sortie_annuler-sortie',{'idSortie':sortie.idSortie}) }}"> Annuler </a>
                    {% elseif sortie.etat.libelle == "Fermé" %}
                        <a href="{{ path('sortie_inscription',{'idSortie':sortie.idSortie}) }}"> Afficher </a>
                    {% endif %}
                    {# <a href="{{ path('#',{'idSortie':sortie.idSortie}) }}> Modifier </a> #}

                    {% if app.user in sortie.participants and sortie.etat.libelle != "Fermé" and app.user.idParticipant != sortie.organisateur.idParticipant %}
                        <a href="{{ path('sortie_desincription',{'idSortie':sortie.idSortie}) }}"> Se désister </a>
                        <a href="{{ path('sortie_inscription',{'idSortie':sortie.idSortie}) }}"> Afficher </a>
                    {% elseif sortie.participants|length != sortie.nbInscriptionsMax and app.user.idParticipant != sortie.organisateur.idParticipant %}
                        <a href="{{ path('sortie_inscription',{'idSortie':sortie.idSortie}) }}"> S'inscrire </a>
                        <a href="{{ path('sortie_inscription',{'idSortie':sortie.idSortie}) }}"> Afficher </a>
                    {% endif %}
                </td>
            {% else %}
                <tr>
                    <td>
                        <p>Aucunes sorties trouvées</p>
                    </td>
                </tr>
            {% endfor %}
            </tr>
            </tbody>
        </table>

    </div>
    <br>
    <div>
        <button class="btn_create"><a href="{{ path('sortie_createsortie') }}"> Créer une sortie </a></button>
    </div>
{% endblock %}


{% block title %}Home | {{ parent() }}{% endblock %}