{% extends '/base.html.twig'%}


{% block body %}
    <h1>Proposer une sortie</h1>
    <main>
        <div>
            {{ form_start(sortieForm) }}
            <div class="col bg-formInfo">
                {{ form_row(sortieForm.nom) }}
                {{ form_row(sortieForm.dateHeureDebut)}}
                {{ form_row(sortieForm.dateLimiteInscription) }}
                {{ form_row(sortieForm.nbInscriptionsMax) }}
                <p>{{ form_row(sortieForm.duree)}}</p>
               {{ form_row(sortieForm.infosSortie)|nl2br}}
            </div>

            <div class="col bg-formGeo">
                <p> Campus : {{ participant.campus.nom }}</p>
                {{ form_row(sortieForm.ville) }}
                {{ form_row(sortieForm.lieu) }}
                <p></p>
            </div>
            <div class="btn_box">
            </div>
                {{ form_end(sortieForm) }}
                {% for error in field_errors (sortieForm) %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
        </div>
    </main>
{% endblock %}

{% block title %}

    Créer une sortie | {{ parent() }}

{% endblock %}

{% block javascrip %}
    <script>
    function initListeLieux() {
    $idVille = document.querySelector("#sortie_ville").value;

        //appel de l'API
    fetch("{{ app_url_api }}/lieux/"+$idVille, {method: "GET"})

                 .then(response=>response.json())
                 .then(response=>{
                    //traiter les données
                    let options="";
                    response.map(lieu=>{
                        options += `<option value="${lieu.id}">${lieu.nom}</option>`;
                    })
                    //mise à jour du select
                    document.querySelector("#sortie_lieu").innerHTML = options;

                })
                    .catch(e=>{
                        alert("ERREUR")
                });
        }
        window.onload=()=>{
            document.querySelector("#sortie_lieu").addEventListener('change',initListeLieux)
        }
    </script>
{% endblock %}