{% extends '/base.html.twig'%}


{% block body %}
    <h1>Proposer une sortie</h1>
    <main>
        <div >
            {{ form_start(sortieForm) }}
            <div class="col bg-formInfo">
                {{ form_row(sortieForm.nom) }}
                {{ form_row(sortieForm.dateHeureDebut)}}
                {{ form_row(sortieForm.dateLimiteInscription) }}
                {{ form_row(sortieForm.nbInscriptionsMax) }}
                {{ form_row(sortieForm.duree)}}
               {{ form_row(sortieForm.infosSortie)|nl2br}}
            </div>

            <div class="col bg-formGeo">
               <p> Campus : {{ participant.campus.nom }}</p>

                {{ form_row(sortieForm.ville) }}
                {{ form_row(sortieForm.lieu) }}
                {# afficher les coordonnées lieu #}
                {% for lieu in sortie %}
                {% endfor %}

            </div>
            <div class="btn_box">
                <button id="creation" type="submit" onclick="{{ path('main_home') }}">Enregistrer</button>
                <button id='publier' type="submit" onclick="{{ path('main_home') }}">Publier</button>
                <button type="reset">Annuler</button>
            </div>
            {{ form_end(sortieForm) }}
            {% for error in field_errors (sortieForm) %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
    </main>
{% endblock %}

{% block title %}

    Créer une sortie | {{ parent() }}

{% endblock %}
